<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Predictor</title>
    <link rel="stylesheet" href="static/css/style-header.css">
</head>
<body>
        <header>
            <nav>
                <ul id="myDIV">
                    <li class="btn"><a href="home">Home</a></li>
                    <li class="btn"><a href="about">About</a></li>
                    <!-- <li class="btn"><a href="login">Login</a></li> -->
                </ul>
            </nav>
        </header>
    
</body>
</html>